.Informations_Personnelles {
    background-color: hsla(111, 95%, 50%, 0.489);
    padding: 20px;
    border: 1px solid #d71319;
}

.O_P {
    background-color: hsla(231, 92%, 48%, 0.584);
    padding: 20px;
    border: 1px solid #1316d700;
}

.E_P {
    background-color: hsla(355, 92%, 48%, 0.587);
    padding: 20px;
    border: 1px solid #d7c413;
}

.Etudes_Formations {
    background-color: hsla(298, 91%, 32%, 0.879);
    padding: 20px;
    border: 1px solid #1316d7fe;
}

.lien {
    background-color: hsl(200, 92%, 36%);
    padding: 20px;
    border: 1px solid #d7c413;
}

.Compétences {
    background-color: hsla(200, 47%, 70%, 0.671);
    padding: 20px;
    border: 1px solid #0e0d0a;
}